{% load static %}


<!DOCTYPE html>
<html>
<head>
  <title> Dashboard </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'user/css/style.css' %}">
</head>
<body>
<div class="header-wrapper sec3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-3">
                <div class="main-logo">
                    <img src="{% static 'user/images/logo.png'%}">
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
